body {
	width:70%;
	margin: 0 auto;
	background-color:PapayaWhip;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td:first-child() {
    width: 20%;
}
tr:nth-child(even) {
    background-color:  thistle ;
}
